:root {
    /* blue */
    --brand-color-1: rgb(91, 197, 242); 
    /* yellow */
    --brand-color-2: rgb(255, 232, 0);
}

.brandColor1 {
    color: var(--brand-color-1);
}
.brandColor2 {
    color: var(--brand-color-2);
}
