@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    --header-text-size: 20px;
    --header-text-weight: 400;
    --header-text-line-height: 1.5;

    --header-title-size: 24px;
    --header-title-weight: 600;
    --header-title-line-height: 1.5;

    --top-bar-tab-size: clamp(20px, 3vw, 40px);
    --top-bar-weight: 700;
    --top-bar-line-height: 1;
}

:root {
    --body-text-size-1: clamp(16px, 3vw, 18px)
    --body-text-line-height-1: 1.5;

    --body-text-size-2: clamp(18px, 3.5vw, 24px);
    --body-text-line-height-2: 1.5;

    --body-text-weight: 400;
    --body-bold-text-weight: 600;

    --body-title-size: clamp(22px, 4vw, 32px);
    --body-title-weight: 700;
    --body-title-line-height: 1;
    --body-title-font-family: 'Arvo', serif;
}
.headerTitle {
    font-size: var(--header-title-size);
    font-weight: var(--header-title-weight);
    line-height: var(--header-title-line-height);
}
.headerText {
    font-size: var(--header-text-size);
    font-weight: var(--header-text-weight);
    line-height: var(--header-text-line-height);
}
.topBarTabText {
    font-size: var(--top-bar-tab-size);
    font-weight: var(--top-bar-weight);
    line-height: var(--top-bar-line-height);
}


.bodyText1 {
    font-size: var(--body-text-size-1);
    font-weight: var(--body-text-weight);
    /* line-height: var(--body-text-line-height-1); */
}
.bodyText2 {
    font-size: var(--body-text-size-2);
    font-weight: var(--body-text-weight);
    /* line-height: var(--body-text-line-height-2); */
}
.bodyTitle {
    font-family: var(--body-title-font-family);
    font-size: var(--body-title-size);
    font-weight: var(--body-title-weight);
    line-height: var(--body-title-line-height);
}
.bodyBoldText {
    font-weight: var(--body-bold-text-weight);
}

.icon {
    font-family: 'Material Icons';
}